<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <main>
        <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
            <a href="#" class="d-block p-2 link-dark text-decoration-none">
                <img src="../images/icon48.png" class="menu-logo">
            </a>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="#" class="nav-link py-3 border-bottom active" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="__MSG_home__">
                        <i class="fas fa-home fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="configure.html" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="__MSG_settings__">
                        <i class="fas fa-sliders-h fa-lg"></i>
                    </a>
                </li>
                <!--<li>
                    <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                        <i class="far fa-calendar-alt fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        <i class="far fa-user-circle fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                        <i class="far fa-user-circle fa-lg"></i>
                    </a>
                </li> -->
            </ul>
            <!-- <div class="dropdown border-top">
                <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div> -->
        </div>

        <div class="container-fluid">
            <div class="px-4 py-5 my-2 text-center">
                <h1 class="display-5 fw-bold">__MSG_name__</h1>
                <div class="col-sm-8 mx-auto">
                    <p class="lead mb-4">__MSG_homeDescription__</p>

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="configure.html" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">__MSG_goConfigure__</a>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
<script src="../js/jquery-3.6.0.slim.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>

<script src="../js/localizehtml.js"></script>
<script src="../js/options.js"></script>
<script src="../js/init.js"></script>

</html>