<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="popup-container text-center p-2">
        Configs
        <div class="m-2">
            <a href="#!" id="openConfig" class="btn btn-primary"><i class="fas fa-cogs fa-lg"></i></a>
        </div>
    </div>
</body>

<script src="../js/jquery-3.6.0.slim.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>

<script src="../js/localizehtml.js"></script>
<script src="../js/popup.js"></script>
<script src="../js/init.js"></script>

</html>